:root {
  --vp-c-bg: #ffffff;

  --vp-c-brand-1: #51bde3;
  --vp-c-brand-2: #4ca8c6;
  --vp-c-brand-3: #5fc6e9;
}

.dark {
  --vp-c-bg: #181818;
  --vp-c-bg-soft: #1f1f1f;
  --vp-c-bg-alt: #1d1c1c;
  --vp-c-bg-elv: #2a2a2a;
}
